/* Things I changed from main */
* {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif !important;
    margin:0;
}

.c_event2,.c_event3,.c_event4{
    margin-top:-0.5em;
    padding: 0 2em 2em 2em;
}


.c4_eventname img{
    margin: 0.5em 1.2em 1em 0 ;
    width:20%;
    max-width:72px;
}
.c4_eventname h3{
    padding:.3em;
}
.c4_detail{
    word-spacing:3px;
    padding:1em;
    margin:1em 0;
    border:1px solid #ccc;
    height: 4.5em;
}


.field-name {
    font-weight: 700;
}

.create-1-event-list li a img {
    width:65px;
    height: 65px;
    padding-left: 15px;
    padding-top: 8px;
}

/* Progress bar */
.container {
    width: 101%;
    margin: 0 auto;

}

.progress-meter {
    padding: 0;
}

ol.progress-meter {
    padding-bottom: 9.5px;
    list-style-type: none;
}
ol.progress-meter li {
    display: inline-block;
    text-align: center;
    text-indent: -19px;
    height: 36px;
    width: 24.99%;
    font-size: 12px;
    border-bottom-width: 4px;
    border-bottom-style: solid;
}
ol.progress-meter li:before {
    position: relative;
    float: left;
    text-indent: 0;
    left: -webkit-calc(50% - 9.5px);
    left: -moz-calc(50% - 9.5px);
    left: -ms-calc(50% - 9.5px);
    left: -o-calc(50% - 9.5px);
    left: calc(50% - 9.5px);
}
ol.progress-meter li.done {
    font-size: 12px;
}
ol.progress-meter li.done:before {
    content: "\2713";
    height: 19px;
    width: 19px;
    line-height: 18.85px;
    bottom: -28.175px;
    border: none;
    border-radius: 19px;
}
ol.progress-meter li.todo {
    font-size: 12px;
}
ol.progress-meter li.todo:before {
    content: " ";
    height: 19px;
    width: 19px;
    line-height: 18.85px;
    bottom: -28.175px;
    border: none;
    border-radius: 19px;
}
ol.progress-meter li.done {
    color: black;
    border-bottom-color: #B8E62E;
}
ol.progress-meter li.done:before {
    color: white;
    background-color: #B8E62E;
}
ol.progress-meter li.todo {
    color: silver;
    border-bottom-color: silver;
}
ol.progress-meter li.todo:before {
    color: silver;
    background-color: silver;
}

ol.progress-meter li.current:before {
    content: " ";
    height: 19px;
    width: 19px;
    line-height: 18.85px;
    bottom: -28.175px;
    border: none;
    border-radius: 19px;
}
ol.progress-meter li.current {
    color: black;
    border-bottom-color: silver;
}
ol.progress-meter li.current:before {
    color: silver;
    background-color: silver;
}

/* Category.css */

.eventlist .thumb {
    margin-top:5px;
}

.eventlist .thumb-box{
    padding:0;
    background-color:transparent !important;
    border:none !important;
    text-shadow:none !important;
    box-shadow: none !important;

}

.eventlist img.pull-left{
    width: 55px;
    height: 55px;
}




.eventlist .event-name {
    font-size: 18px;
    color:black;
}

.eventlist .event-loc{
    color:#e64848;
    font-size: 13px;
}

.eventlist .event-date{
    color:#8e8e8e;
    font-size: 11px;
}




.eventlist .page-title{
    text-align: center;
    padding: 15px;
    background-color:black;
    color:white;
    border-top: 0px solid #e3e3e3;
    border-bottom: 0px solid #e3e3e3;
}

 .change-category {
    text-align: center;
    position: absolute;
    top: 2px;
    left: 45px;
    z-index: 1;
}

 .change-category img{
    width: 32px;
    height: 32px;
    margin-top: 8px;  
}

.eventlist .category-bar {
    background-color:#555555;
    width: 100%;
    display: none;
}

.eventlist .category-bar ol {
    list-style-type: none;
    text-align: center;
    padding: 4px 0 4px 0;
}

.eventlist .category-bar ol li {
    display: inline-block;
    padding: 0 4px;  
}

.eventlist .category-bar ol li img {
    width: 36px;
    height: 36px;
    border-radius: 36px;
    -webkit-border-radius: 36px;
    -moz-border-radius: 36px;
    -moz-box-shadow: 3px 3px 5px #424242;
    -webkit-box-shadow: 3px 3px 5px #424242;
    box-shadow: 3px 3px 5px #424242;

}

.header-container {
    position: relative;
}
